In [2]:
import pandas as pd
import numpy as np
from jupyter_dash import JupyterDash
from dash import Dash, dcc, html, Input, Output

In [10]:
df = pd.read_csv('../NBA_Team_Stats.csv')

In [11]:
df

,No,Team,G,Min,Pts,Reb,Ast,Stl,Blk,To,...,Oreb,Fgm-a,Pct,3gm-a,Pct.1,Ftm-a,Pct.2,Eff,Deff,Year
0,1,Chicago,103,48.4,96.0,44.1,23.1,8.6,4.3,13.0,...,14.9,36.7-81.7,0.449,3.9-12.0,0.323,18.7-25.2,0.741,111.6,17.5,1997-1998
1,2,Utah,102,48.3,98.6,40.8,24.7,7.6,4.8,14.7,...,11.3,35.9-74.3,0.483,3.1-8.4,0.368,23.8-30.9,0.768,116.3,17.5,1997-1998
2,3,Phoenix,86,48.6,99.3,41.9,25.6,9.2,5.3,14.4,...,12.1,38.2-82.0,0.466,5.2-14.7,0.355,17.7-23.6,0.747,117.1,13.6,1997-1998
3,4,L.A.Lakers,95,48.3,104.8,42.9,24.3,8.7,6.8,14.7,...,13.2,38.0-79.1,0.480,6.1-17.3,0.350,22.8-33.7,0.675,120.8,13.2,1997-1998
4,5,San Antonio,91,48.4,92.5,44.1,21.9,6.2,6.9,15.3,...,11.9,35.1-75.1,0.468,3.7-10.8,0.344,18.5-26.8,0.688,108.0,13.1,1997-1998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
720,25,Sacramento,82,48.3,110.3,42.9,23.7,7.2,4.5,13.5,...,9.6,40.5-88.1,0.460,11.4-33.2,0.344,17.9-23.3,0.768,122.1,-13.4,2021-2022
721,26,Orlando,82,48.2,104.2,44.3,23.7,6.8,4.5,13.8,...,9.1,38.3-88.3,0.434,12.2-36.8,0.331,15.5-19.7,0.787,115.5,-16.0,2021-2022
722,27,Detroit,82,48.2,104.8,43.0,23.5,7.7,4.8,13.4,...,11.0,38.2-88.6,0.430,11.3-34.6,0.326,17.2-22.0,0.782,115.1,-16.7,2021-2022
723,28,Portland,82,48.1,106.2,42.9,22.9,8.0,4.5,13.7,...,10.4,38.5-87.1,0.443,12.7-36.8,0.346,16.4-21.6,0.760,117.1,-19.0,2021-2022
724,29,Oklahoma City,82,48.3,103.7,45.6,22.2,7.6,4.6,13.3,...,10.4,38.3-89.1,0.430,12.1-37.4,0.323,15.0-19.9,0.756,114.8,-19.2,2021-2022

In [12]:
df.describe()

,No,G,Min,Pts,Reb,Ast,Stl,Blk,To,Pf,Dreb,Oreb,Pct,Pct.1,Pct.2,Eff,Deff
count,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000
mean,15.000000,84.660690,46.081517,100.309379,42.576828,22.051724,7.641241,4.909517,13.836828,21.174345,31.391448,11.186897,0.452305,0.353448,0.757706,112.577793,-0.051448
std,8.372376,9.937549,7.698169,7.049589,2.060498,2.140407,0.870557,0.797895,1.157158,1.766564,2.297028,1.461809,0.015801,0.019986,0.030494,9.751303,9.911460
min,1.000000,50.000000,20.000000,81.900000,35.800000,15.400000,5.500000,2.500000,10.800000,16.600000,24.900000,7.300000,0.401000,0.259000,0.663000,86.200000,-26.000000
25%,8.000000,82.000000,48.200000,95.300000,41.200000,20.600000,7.000000,4.300000,13.100000,20.000000,29.700000,10.200000,0.442000,0.342000,0.740000,105.700000,-6.700000
50%,15.000000,82.000000,48.300000,99.000000,42.500000,21.800000,7.600000,4.900000,13.800000,21.100000,31.100000,11.100000,0.452000,0.354000,0.759000,111.200000,0.500000
75%,22.000000,89.000000,48.400000,104.900000,43.900000,23.400000,8.200000,5.400000,14.600000,22.400000,33.000000,12.200000,0.463000,0.367000,0.778000,118.400000,6.600000
max,29.000000,108.000000,49.000000,117.800000,51.100000,30.000000,12.000000,8.100000,17.500000,27.100000,41.700000,16.400000,0.504000,0.410000,0.841000,144.200000,32.100000

In [13]:
df.columns

Index(['No', 'Team', 'G', 'Min', 'Pts', 'Reb', 'Ast', 'Stl', 'Blk', 'To', 'Pf',
       'Dreb', 'Oreb', 'Fgm-a', 'Pct', '3gm-a', 'Pct.1', 'Ftm-a', 'Pct.2',
       'Eff', 'Deff', 'Year'],
      dtype='object')